.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}



*{
   margin: 0px;
   padding: 0px;
   font-family:"lekton", monospace;
}
#cabecera{
   background-color: #151524;
  height: 65px;
  text-align: left;
  align-content: center;
  color:rgb(244, 245, 205);
 
display: flex;
justify-content: space-between;
  padding-top: 25px;

}

#contenido{

  height: 550px;
  color:white;
 
   display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;

  background-image:  url('../arcade/imagenes/fondo7.jpg') ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;

}
#pie{
   background-color: #151524;
  height: 110px;              
  display: flex;
  align-items: center;       
  justify-content: space-around;
  padding: 0 20px 0 30px;           
  box-sizing: border-box;
 color: white;
  

}
.enlace{
  box-shadow: 0 4px 12px rgba(47, 0, 255, 0.4);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
 margin: 0 23px;
  text-decoration: none;
   padding: 10px 20px;
    color: rgba(0, 89, 255, 0.747);
     border: 2px solid transparent;
}
.enlace:hover {
  box-shadow: 0 6px 18px rgba(76, 0, 255, 0.6);
  color: white;
   border-color: #5bb5ff;
}
#horarios {
   display: flex;
 flex-direction: column;      
  justify-content: center;    
  align-items: flex-end;       
  gap: 6px;                   
  align-self: center;
    margin-right: 0;
 flex: 0 0 auto;
}
#horarios h4 {
margin: 0 0 6px 0;
  align-self: center;      
  width: 100%;             
  text-align: center; 
}

#horarios ul {
  margin: 0;
  padding-left: 1em;         
  list-style-position: inside; 
}

#horarios ul li {
  margin: 2px 0;
  font-size: 0.95rem;
}

#redes{
      display: flex;
   
  align-items:center;      
  margin-left: 20px;
    justify-content: flex-start; 
  flex: 0 0 auto;             

   gap: 12px;    

 
}
p {
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 25px;
  transition: text-decoration 0.5s ease;
}
p:hover{
   text-decoration: underline 2px rgba(0, 123, 255, 0.6);
  color: white;
   border-color: #007bff;
   text-decoration-line: discrete;
}
.titulo{
  font-family: "Press Start 2P", monospace;
  margin-left: 50px;
    text-shadow: 1px 3px 3px rgba(222, 171, 243, 0.9);

}
.Ten{
text-decoration: none;
  color: inherit;
  display: block;
}
.i{
  justify-content: center;
  padding-right: 30px;
}


  
  .labels {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #00ffff;
    word-wrap: break-word;
    margin-bottom: 50px;
  }
  
  .frame {
    margin: auto;
    padding: 5px 0px;
    width: 56px;
    border: 2px solid #00ffff;
  }
  
  .btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #000000;
    color: #00ffff;
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 10px;
    border: 0px;
    cursor: pointer;
    border: 0px;
  }
  
  .btn-rounded {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .fa {
    font-size: 14px;
  }
  
  .flipx {
    transform: scaleX(-1);
  }
  
  #score {
    margin-top: 5px;
  }
  
  #outer-board {
    width: 365px;
    margin: auto;
  }
  
  #board {
    float: left;
    position: relative;
    background-color: #000000;
    width: 280px;
    height: 448px;
    margin: 10px auto;
    border: 2px solid #00ffff;
  }
  
  #stats {
    float: right;
    position: relative;
    background-color: #000000;
    width: 70px;
    height: 448px;
    margin: 10px auto;
    border: 2px solid #00ffff;
  }
  
  #banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    background-color: black;
    color: #00ffff;
    z-index: 2;
    text-align: center;
  }
  
  #message {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 23px;
    margin: 10px;
    margin-top: 20px;
  }
  
  #new-game {
    font-weight: 100;
    cursor: pointer;
  }
  
  .block,
  .empty {
    position: absolute;
    background-color: #00ffff;
    width: 28px;
    height: 28px;
  }
  
  .empty {
    opacity: 0.2;
  }
  
  .inner-tile {
    position: absolute;
    background-color: #000000;
    border: 4px solid #3cff00;
    width: 14px;
    height: 14px;
    margin: 3px;
  }
  
  .inner-inner-tile {
    position: absolute;
    background-color: black;
    width: 8px;
    height: 8px;
    margin: 3px;
  }