.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}



*{
margin: 0px;
padding: 0px;
font-family:"lekton", monospace;
}
#cabecera{
    background-color:#151524;
  height: 65px;
  text-align: left;
  align-content: center;
  color:rgb(244, 245, 205);
 
display: flex;
justify-content: space-between;
  padding-top: 25px;

}


#contenido{

  height: 1000px;
  color:rgb(26, 24, 24);
  padding-bottom: 100px;
  background-image:  url('../arcade/imagenes/fondo7.jpg') ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;

}
#pie{
   background-color: #151524;
  height: 110px;              
  display: flex;
  align-items: center;       
  justify-content: space-around;
  padding: 0 20px 0 30px;           
  box-sizing: border-box;
 color: white;
  

}
.enlace{
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
 margin: 0 23px;
  text-decoration: none;
   padding: 10px 20px;
    color:  rgba(0, 123, 255, 0.6);
     border: 2px solid transparent;
}
.enlace:hover {
  box-shadow: 0 6px 18px rgba(0, 123, 255, 0.6);
  color: white;
   border-color: #007bff;
}
#horarios {
   display: flex;
 flex-direction: column;      
  justify-content: center;    
  align-items: flex-end;       
  gap: 6px;                   
  align-self: center;
    margin-right: 0;
 flex: 0 0 auto;
}
#horarios h4 {
margin: 0 0 6px 0;
  align-self: center;      
  width: 100%;             
  text-align: center; 
}

#horarios ul {
  margin: 0;
  padding-left: 1em;         
  list-style-position: inside; 
}

#horarios ul li {
  margin: 2px 0;
  font-size: 0.95rem;
}

#redes{
      display: flex;
   
  align-items:center;      
  margin-left: 20px;
    justify-content: flex-start; 
  flex: 0 0 auto;             

   gap: 12px;    

 
}
p {
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 25px;
  transition: text-decoration 0.5s ease;
}
p:hover{
   text-decoration: underline 2px rgba(0, 123, 255, 0.6);
  color: white;
   border-color: #007bff;
   text-decoration-line: discrete;
}
.titulo{
  font-family: "Press Start 2P", monospace;
  margin-left: 100px;
    text-shadow: 1px 3px 3px rgba(222, 171, 243, 0.9);

}
h2{
   display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
      box-shadow: 10px #007bff;
}
/*input, select, textarea {
  background-position: 50% 50%;
  background-image: url("../arcade/imagenes/fondo7.jpg");
  color: cornflowerblue;

}*/
#horarios {
   display: flex;
 flex-direction: column;      
  justify-content: center;    
  align-items: flex-end;       
  gap: 6px;                   
  align-self: center;
    margin-right: 0;
 flex: 0 0 auto;
}
#horarios h4 {
margin: 0 0 6px 0;
  align-self: center;      
  width: 100%;             
  text-align: center; 
}

#horarios ul {
  margin: 0;
  padding-left: 1em;         
  list-style-position: inside; 
}

#horarios ul li {
  margin: 2px 0;
  font-size: 0.95rem;
}

#redes{
      display: flex;
   
  align-items:center;      
  margin-left: 20px;
    justify-content: flex-start; 
  flex: 0 0 auto;             

   gap: 12px;    

 
}
.red {
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 25px;
  transition: text-decoration 0.5s ease;
}
.red:hover{
   text-decoration: underline 2px rgba(0, 123, 255, 0.6);
  color: white;
   border-color: #007bff;
   text-decoration-line: discrete;
}
label {
  align-content: center;
  color: rgb(39, 121, 121);
  font-size: 25px;
}
#formulario{

   background-color:#ffffff;
   margin: 0px 250px 250px 250px;
   padding-left: 25px;
   text-align: justify;
   padding-bottom: 50px;
   padding-top: 25px;
   border: 1px black;
   border-radius: 3px;
     
}
#enlaces{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
 
}
#formulario input label textarea label{
    width: 300px; 
  height: 40px;
}
#formulario input{
  border-radius: 20px;
}

p {
  color:red;
}
button {
  background-position: 50% 50%;
  width: 300px;
  height: 40px;
  border-radius: 20px;
}

span {
  color: red;
}

.i{
  justify-content: center;
}