.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}



*{
margin: 0px;
padding: 0px;
font-family:"lekton", monospace;
}
#cabecera{
    background-color:#151524;
  height: 65px;
  text-align: left;
  align-content: center;
  color:rgb(244, 245, 205);
 
display: flex;
justify-content: space-between;
  padding-top: 25px;

}


#contenido{

  height: 1300px;
  color:rgb(26, 24, 24);
  padding-bottom: 100px;
  background-image:  url('../arcade/imagenes/fondo7.jpg') ;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;

}
#pie{
   background-color: #151524;
  height: 110px;              
  display: flex;
  align-items: center;       
  justify-content: space-around;
  padding: 0 20px 0 30px;           
  box-sizing: border-box;
 color: white;
  

}
.enlace{
  box-shadow: 0 4px 12px rgba(76, 0, 255, 0.4);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
 margin: 0 23px;
  text-decoration: none;
   padding: 10px 20px;
    color: rgba(0, 89, 255, 0.747);
     border: 2px solid transparent;
}
.enlace:hover {
  box-shadow: 0 6px 18px rgba(76, 0, 255, 0.6);
  color: white;
   border-color: #5bb5ff;
}
#horarios {
   display: flex;
 flex-direction: column;      
  justify-content: center;    
  align-items: flex-end;       
  gap: 6px;                   
  align-self: center;
    margin-right: 0;
 flex: 0 0 auto;
}
#horarios h4 {
margin: 0 0 6px 0;
  align-self: center;      
  width: 100%;             
  text-align: center; 
}

#horarios ul {
  margin: 0;
  padding-left: 1em;         
  list-style-position: inside; 
}

#horarios ul li {
  margin: 2px 0;
  font-size: 0.95rem;
}

#redes{
      display: flex;
   
  align-items:center;      
  margin-left: 20px;
    justify-content: flex-start; 
  flex: 0 0 auto;             

   gap: 12px;    

 
}

.titulo{
  font-family: "Press Start 2P", monospace;
  margin-left: 30px;
    text-shadow: 1px 3px 3px rgba(222, 171, 243, 0.9);
 letter-spacing: 2px;

}
.Ten{
text-decoration: none;
  color: inherit;
  display: block;
}
h2{
    color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 10px; 
    text-shadow: 1px 5px 2px #cfcfcf; 
    font-size: 200%;
}
#horarios {
   display: flex;
 flex-direction: column;      
  justify-content: center;    
  align-items: flex-end;       
  gap: 6px;                   
  align-self: center;
    margin-right: 0;
 flex: 0 0 auto;
}
#horarios h4 {
margin: 0 0 6px 0;
  align-self: center;      
  width: 100%;             
  text-align: center; 
}

#horarios ul {
  margin: 0;
  padding-left: 1em;         
  list-style-position: inside; 
}

#horarios ul li {
  margin: 2px 0;
  font-size: 0.95rem;
}

#redes{
      display: flex;
   
  align-items:center;      
  margin-left: 20px;
    justify-content: flex-start; 
  flex: 0 0 auto;             

   gap: 12px;    

 
}
.red {
  color:rgb(255, 255, 255);
  text-align: left;
  font-size: 25px;
  transition: text-decoration 0.5s ease;
}
.red:hover{
   text-decoration: underline 2px rgba(0, 123, 255, 0.6);
  color: white;
   border-color: #007bff;
   text-decoration-line: discrete;
}

#enlaces{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
 
}
label {
  align-content: center;
  color: rgb(72, 73, 73);
  font-size: 27px;
  text-shadow: 2px 1px 2px #3b3b3b;
}
#formulario{
  box-shadow: 5px 5px 2px rgba(148, 148, 148, 0.774);

   background-color:#ffffff;
   margin: 0px 370px 300px 370px;
  padding: 10px 50px 10px 80px;   
  text-align: start;
   padding-bottom: 50px;
   padding-top: 25px;
   border: 1px black;
   border-radius: 5px;
     
}
#formulario input label textarea label{
    width: 300px; 
  height: 40px;
}
#formulario input{
  border-radius: 5px;
  height: 35px;
  width: 450px;
  box-shadow: 3px 3px 2px rgba(148, 148, 148, 0.774);

}

p {
  color:red;
}
button {
  background-position: 50% 50%;
  width: 300px;
  height: 40px;
  border-radius: 20px;
}

span {
  color: red;
}

.i{
  justify-content: center;
  display: flex;
}
.adicional {
  color:rgb(66, 66, 66);
}
h3{
  text-shadow: 1px 1px 2px #3b3b3b; 
    font-size: 170%;
    color: #3b3b3b;
    display: flex;
}

